@import '@/assets/scss';

.primary-input-container {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  margin-bottom: 0;

  .ant-form-item-control {
    width: 100%;
    height: 32px;

    .ant-form-item-explain-error {
      text-align: center;
    }

    input {
      width: 100%;
      border-radius: 4px;
      font-size: 12px;
      padding: 5px 11px;
      height: 32px;

      &:hover,
      &:focus,
      &:active {
        border-color: $primary_yellow;
      }

      &:focus {
        box-shadow: 0 0 0 2px $primary_yellow_box_shadow;
      }

    }
  }

  &.required {
    .ant-form-item-label>label {
      font-size: 12px;

      &::after {
        content: '*';
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .ant-form-item-label>label {
    font-size: 12px;

    &::after {
      content: '';
    }
  }
}