@import './index.scss';

@font-face {
  font-family: 'Museo San';
  src: url(../fonts/museosans-100-webfont.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Museo San';
  src: url(../fonts/museosans-300-webfont.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Museo San';
  src: url(../fonts/museosans_500-webfont.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Museo San';
  src: url(../fonts/museosans_500-webfont.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Museo San';
  src: url(../fonts/museosans_700-webfont.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Museo San';
  src: url(../fonts/museosans_900-webfont.ttf);
  font-weight: 900;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

html {
  font-size: 16px;

  @include responsive(large_desktop) {
    font-size: 30px;
  }

  @include responsive(tablet) {
    font-size: 14px;
  }
}

div {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Museo San';

  iframe {
    display: none;
  }
}