@mixin flex($direction: row,
  $align-items: flex-start,
  $justify-content: flex-start) {
  flex-direction: $direction;
  display: -webkit-box;

  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;

  /* TWEENER - IE 10 */
  display: -webkit-flex;

  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;

  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: $justify-content;
  -ms-justify-content: $justify-content;
  -moz-justify-content: $justify-content;
  -webkit-justify-content: $justify-content;
  align-items: $align-items;
  -ms-align-items: $align-items;
  -moz-align-items: $align-items;
  -webkit-align-items: $align-items;
  flex-direction: $direction;
  -ms-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -ms-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@mixin flex-with($args) {
  -webkit-box-flex: $args;
  -webkit-flex: $args;
  -ms-flex: $args;
  flex: $args;
}

@mixin flex-wrap($args) {
  -ms-flex-wrap: $args;
  flex-wrap: $args;
}

@mixin flex-basis($args) {
  -webkit-box-flex-basis: $args;
  -webkit-flex-basis: $args;
  -ms-flex-basis: $args;
  flex-basis: $args;
}

@mixin fadeIn($args) {
  -webkit-animation: fadein $args;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $args;
  /* Firefox < 16 */
  -ms-animation: fadein $args;
  /* Internet Explorer */
  -o-animation: fadein $args;
  /* Opera < 12.1 */
  animation: fadein $args;

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)) {

  // For Google Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $size;
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    border-radius: $size;
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

$max-small-mobile-width: 320px;
$max-middle-mobile-width: 425px;
$min-tablet-width: 768px;
$max-tablet-width: 1024px;
$medium-screen: 1440px;

@mixin responsive($screen) {
  // @if $screen==small-mobile {
  //   @media only screen and (max-width: $max-small-mobile-width) {
  //     @content;
  //   }
  // }

  @if $screen==mobile {
    @media only screen and (max-width: ($min-tablet-width - 1)) {
      @content;
    }
  }

  @if $screen==tablet {
    @media only screen and (min-width: $min-tablet-width) and (max-width: ($max-tablet-width - 1)) {
      @content;
    }
  }

  @if $screen==desktop {
    @media only screen and (min-width: $max-tablet-width) and (max-width: $medium-screen) {
      @content;
    }
  }

  @if $screen==large_desktop {
    @media only screen and (min-width: ($medium-screen + 1)) {
      @content;
    }
  }

  @if $screen==retina {

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      @content;
    }
  }
}

@mixin multiple-responsive($screens...) {
  @each $screen in $screens {
    @include responsive($screen) {
      @content;
    }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}