$light_yellow: #F8BA3C;
$primary_yellow: rgb(248,176,51);
$primary_yellow_box_shadow: rgba(248,176,51,0.2);
$dark_yellow: #dd9f34;
$white: #ffffff;
$black: #000000;
$drop_shadow: rgba(0,0,0,0.09);
$primary_gray: rgb(112,112,112);
$background_gray: rgb(242, 242, 242);
$medium_gray: rgb(153, 153, 153);
$light_gray: #d9d9d9;
$table_gray: #CCCCD7;
$icon_gray: #717171;
$red: red;
$blue: #0080FF;