@import '@/assets/scss';

.yellow-button {
  @include flex(row, center, center);
  width: 100%;
  background: $primary_yellow;
  color: $black;
  border-radius: 4px;
  border: solid 1px $light_gray;

  &:hover {
    border: solid 1px $light_gray;
    background: $primary_yellow;
    color: $black;
  }

  @include responsive(tablet) {
    span {
      font-size: 9px;
    }
  }
}

.black-button {
  @include flex(row, center, center);
  width: 100%;
  background: $black;
  color: $white;
  border: solid 1px $black;
  border-radius: 4px;

  &:hover {
    border: solid 1px $black;
    background: $black;
    color: $white;
  }

  &:focus {
    background: $black;
    color: $white;
    border: solid 1px $black;
  }
}

.white-button {
  @include flex(row, center, center);
  width: 100%;
  background: $white;
  color: $blue;
  margin-top: 40px;
  border-radius: 4px;
  border: solid 1px $light_gray;
  font-size: 12px;

  &:hover {
    background: $white;
    color: $blue;
    border: solid 1px $light_gray;
    font-size: 12px;
  }
}

.delete-button {
  @include flex(row, center, center);
  width: 100%;
  background: $white;
  color: $red;
  margin-top: 40px;
  border-radius: 4px;
  border: solid 1px $light_gray;

  &:hover {
    background: $white;
    color: $red;
    border: solid 1px $light_gray;
  }
}