@import '@/assets/scss';

.primary-checkbox-container {

    .required {
        &::after {
            content: '*';
        }
    }

    .ant-checkbox-group {
        @include flex(column, flex-start, flex-start);

        .ant-checkbox-wrapper {
            @include flex(row, center, flex-start);
            padding-bottom: 7px;

            &:hover {
                .ant-checkbox-inner {
                    border-color: $light_gray;
                }
            }

            @include responsive(tablet) {
                span {
                    font-size: 10px;
                }
            }

            .ant-checkbox-checked>.ant-checkbox-inner {
                background: $primary_yellow;
                border: solid 1px $light_gray;

                &::after {
                    transform: rotate(45deg) scale(0) translate(-50%, -50%);
                }
            }

            .ant-checkbox-checked {
                &::after {
                    background: none;
                    border: none;
                    border-radius: none;
                    animation-fill-mode: none;
                    animation: none;
                }
            }

            .ant-checkbox {
                width: 22px;
                height: 22px;

                @include responsive (tablet) {
                    width: 18px;
                    height: 18px;
                }

                .ant-checkbox-inner {
                    border-radius: 4px;
                    width: 22px;
                    height: 22px;

                    @include responsive (tablet) {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}