@import '@/assets/scss';

.shared-date-picker-container {
  @include flex(column, flex-start flex-start);

  @include responsive(tablet) {
    width: 100%;
  }

  &.required {
    @include flex(column, flex-start, flex-start);

    .ant-form-item-label>label {
      font-size: 12px;

      &::after {
        content: '*';
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .ant-form-item-label {
    text-align: start;

    >label {
      font-size: 12px;

      &::after {
        content: '';
      }
    }
  }

  .date-picker {
    width: 100%;
    padding: 6px 11px;
    border-radius: 6px;

    &:hover {
      border: solid 1px $light_gray;
    }

    .ant-picker-suffix {

      svg {
        $height: 20px;
        $ratio: 35.612/29.677;
        height: $height;
        width: $height * $ratio;
      }
    }

    .ant-picker-clear {
      display: none;
    }

    input {
      font-size: 12px;

      @include responsive(tablet) {
        font-size: 12px;
      }
    }
  }

  .ant-picker-focused {
    border-color: $primary_yellow;
    box-shadow: 0 0 0 2px $primary_yellow_box_shadow;
  }
}


.ant-picker-cell-selected {

  .ant-picker-cell-inner {
    border-radius: 50%;

    &::before {
      border-color: $primary_yellow !important;
      border-radius: 50%;
    }

    &::selection {
      background: $primary_yellow !important;
    }

    background: $primary_yellow !important;
  }
}

.ant-picker-cell-inner {
  border-radius: 50%;
  &:hover{
    border-radius: 50%;
  }
}

.ant-picker-cell-today {
  .ant-picker-cell-inner {
    &::before {
      border: 0 !important;
    }
  }
}

.ant-picker-month-btn {
  &:hover {
    color: $primary_yellow !important;
  }
}

.ant-picker-year-btn {
  &:hover {
    color: $primary_yellow !important;
  }
}

.ant-picker-today-btn {
  color: $light_yellow !important;

  &:hover {
    color: $primary_yellow !important;
  }
}