@import '@/assets/scss';

.application-detail-container {
  @include flex(column, center, center);
  width: 100%;
  background: $white;

  .application-header {
    @include flex(row, center, space-between);
    width: 100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: solid 2px $primary_gray;

    .create-button {
      @include flex(row, center, center);
      width: 18%;

      @include responsive(tablet) {
        width: 25%;
      }

      a {
        @include flex(row, center, center);

        .plus-icon {
          font-size: 22px;
          font-weight: 600;
          margin-right: 20px;
        }
      }
    }
  }

  .application-info-input-container {
    @include flex(row, flex-start, center);
    width: 96%;
    margin-top: 15px;

    label {
      font-size: 20px;

      @include responsive(tablet) {
        font-size: 16px;
      }
    }

    .info-input-container {
      @include flex(column, flex-start, space-between);
      flex: 2;
      margin-right: 20px;
      height: 130px;

      .ant-form {
        width: 100%;
      }

      &.visible-type {
        @include flex(row, flex-end, flex-end);
        height: 140px;
        margin-right: 0;

        @include responsive(tablet) {
          @include flex(column, flex-end, flex-end);
          flex: 0.3;
        }

        .visible-type-item {
          @include flex(row, flex-start, space-evenly);

          &.button-container {
            @include responsive(tablet) {
              @include flex(column, flex-end, flex-end);
            }
          }

          svg {
            width: 50px;
            height: 50px;

            @include responsive(tablet) {
              width: 40px;
              height: 40px;
            }
          }

          .search-button {
            margin-bottom: 10px;

            button {
              height: 28px;
            }
          }

          button.filter-button {
            @include flex(row, center, center);
            width: 33%;
            height: 28px;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 47%;
            background: $medium_gray;
            color: $white;
            border: none;

            &:hover {
              border: none;
              color: $white;
            }

            @include responsive(tablet) {
              width: 100%;

              span {
                font-size: 9px;
              }
            }
          }
        }
      }

      .ant-input-affix-wrapper {
        @include flex(row, center, center);
        border-radius: 4px;
        padding: 0;
        font-size: 19px;

        &:hover {
          border: solid 1px $light_gray;
        }

        .ant-input-suffix {
          @include flex(row, center, center);
          width: 13%;
          height: 30px;
          background: $primary_yellow;
          border-radius: 3px;
          border: solid 1px $primary_yellow;

          span {
            font-size: 19px;
            line-height: 0;
          }

          @include responsive(tablet) {
            display: none;
          }
        }

        input {
          padding: 4px 11px;

          @include responsive(tablet) {
            font-size: 10px;
          }
        }
      }

      .applicant-date-picker__container {
        @include flex(column, flex-start, center) width: 100%;

        .applicant-date-picker__label {
          font-size: 20px;
          margin: 0;
        }

        .applicant-date-picker__inner {
          @include flex(row, center, space-between);
          width: 100%;

          .applicant-date-picker__item {
            width: 48%;


            .ant-picker-cell-inner {
              background: $primary_yellow;
            }
          }
        }

      }

      .select-info-container {
        @include flex(row, center, space-between);
        width: 100%;

        @include responsive(tablet) {
          height: 75%;
        }

        .select-info {
          width: 48%;
        }
      }
    }
  }

  .download-button-container {
    @include flex(row, center, flex-end);
    width: 100%;
    padding: 20px;

    .download-button {
      width: 15%;
    }
  }
}