@import '@/assets/scss';

.create-new-candidate-container {
    padding: 20px;

    .create-new-candidate-header {
        @include flex(row, center, space-between);

        .yellow-button {
            width: 15%;

            @include responsive(tablet){
                width: 20%;
            }

            .plus-icon {
                font-size: 22px;
                font-weight: 600;
                margin-right: 20px;
            }
        }
    }

    .create-new-candidate-body {
        width: 100%;
    }
}