@import '@/assets/scss';

.grid-view-container {
  @include flex(row, center, space-between);
  width: 100%;
  padding: 20px;

  .grid-column-container {
    @include flex(column, center, center);
    width: 33%;
    background: $table_gray;
    border-radius: 4px;

    .column-header {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      font-weight: 500;
    }

    .column-body {
      @include flex(column, center, center);
      width: 100%;
      background: $table_gray;

      .info-detail-container {
        width: 96%;
        height: 190px;
        margin: 10px 0;
        border-radius: 4px;
        box-shadow: 3px 10px 10px -3px rgba(0, 0, 0, 0.3);

        .ant-card-body {
          @include flex(column, flex-start, flex-end);
          flex-wrap: wrap;
          height: 190px;
          width: 100%;
          background: $white;
          border-radius: 4px;
          padding: 5px 10px;
        }
      }
    }
  }
}
