@import '@/assets/scss';

.breadcrumb-container {
  @include flex(row, center, flex-start);
  height: 70px;
  margin-left: 30px;

  .ant-breadcrumb-separator {
    margin: 0 22px 0 35px;

    .separator {
      color: transparent;
      background: $primary_gray;
      height: 50px;
      width: 1px;
    }
  }

  .home-icon {
    width: 40px;
    height: 40px;

    @include responsive(large_desktop) {
      width: 60px;
      height: 60px;
    }
  }

  span {
    font-size: 0.875rem;
    color: $black;

    &.breadcrumb-item {
      @include flex(row, center, center);
      font-size: 0.75rem;

      .dash {
        color: $primary_gray;
        margin: 0 5px;
      }

      a {
        color: $black;

        &:hover {
          color: $black;
        }
      }
    }
  }
}