@import '@/assets/scss';

.create-new-applicant-container {
  @include flex(column, flex-start, flex-start);
  background: $background_gray;

  .create-new-header {
    @include flex(row, center, flex-start);
    background: $white;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-bottom: solid 1px $icon_gray;

    span {
      font-weight: 500;
    }
  }

  .create-new-body {
    @include flex(column, center, flex-start);
    background: $white;
    padding: 10px 20px 20px 20px;

    .body-container {
      @include flex(row, flex-start, space-between);
      width: 100%;

      .section-container {
        @include flex(column, flex-start, flex-start);
        width: 49%;

        .ant-divider {
          border-top: solid 1.5px $light_gray;
          margin: 0;
          margin-bottom: 24px;
        }

        .info-input-container {
          @include flex(row, flex-start, space-between);
          width: 100%;

          @include responsive(tablet) {
            height: 322px;
          }

          &.fixed-height {
            height: 400px;
          }

          .info-input {
            @include flex(column, flex-start, flex-start);
            width: 48%;
          }

          .roles-container {
            @include flex(column, flex-start, flex-start);
            width: 48%;
            background: $table_gray;
            padding: 20px 20px 20px 30px;
            border-radius: 5px;
            height: 323.5px;

            @include responsive(tablet) {
              padding: 10px;

              p {
                margin-bottom: 0;
              }
            }

            .textarea-container {
              height: 90%;
            }
          }
        }

        .sub-section-container {
          margin-top: 30px;
          padding: 10px 10px 20px 10px;
          border: solid 1px $light_gray;
          border-radius: 4px;
          width: 100%;

          @include responsive(tablet) {
            p {
              font-size: 10px;
            }
          }

          &.fixed-height {
            height: 400px;

            .textarea-container {
              height: 75%;
            }
          }

          .status-dropdown-container {
            width: 48%;
            margin-bottom: 15px;
          }
        }
      }
    }

    .button-footer {
      @include flex(row, center, flex-end);
      width: 100%;

      .button-container {
        width: 10%;
        margin-right: 20px;
      }
    }
  }
}