@import '@/assets/scss';

.panel-body {

  .sub-body {
    height: auto;

    &.past-work-body {
      @include flex(column, stretch, space-between);
      background: $table_gray;
      padding: 20px;
      border-radius: 4px;

      &.white-background {
        background: $white;
        padding: 0;
      }

      .experience-history-container {
        position: relative;
        background: $table_gray;
        height: 50%;

        .close-icon {
          position: absolute;
          right: 0;
          font-size: 18px;
          font-weight: 700;
        }

        .experience-input-container {
          height: 100%;

          .history-info-select {
            @include flex(row, flex-start, space-between);


            .shared-dropdown-container {
              width: 48%;
            }

            .shared-date-picker-container {
              width: 48%;
            }
          }

          .textarea-container {
            height: 45%;
          }
        }
      }

      .ant-divider {
        margin: 0;
        margin-bottom: 10px;
      }

      .button-container {
        @include flex(row, center, flex-end);
        width: 100%;

        button {
          width: 30%;

          @include responsive (tablet) {
            width: 40%;
          }
        }
      }

      .sub-body-item {
        @include flex(row, flex-start, space-between);
        height: 49%;
        border-radius: 4px;

        &.above {
          background: $table_gray;
          padding: 20px 20px 20px 40px;

          @include responsive (tablet) {
            padding: 10px;
          }
        }

        &.below {
          background: $white;

          @include responsive (tablet) {
            flex-wrap: wrap;

            .col-item {
              width: 100%;
              height: 49%;
            }

            .ant-checkbox-group {
              @include flex(row, flex-start, flex-start);
              flex-wrap: wrap;
            }
          }

          .col-item {
            background: $table_gray;
            padding: 20px;
            border-radius: 4px;

            .textarea-container {
              height: 90%;

              @include responsive(tablet) {
                height: 82%;
              }
            }
          }
        }

        .col-item {
          width: 48%;
          height: 100%;

          .black-button {
            width: 75%;
            margin-top: 20px;
          }

          .white-button {
            width: 40%;

            @include responsive (tablet) {
              width: 65%;
            }
          }
        }

        .ant-checkbox-group {
          @include flex(column, flex-start, flex-start);
        }
      }
    }
  }
}