@import '@/assets/scss';

.licences-and-docs-container {
  @include flex(column, flex-start, flex-start);
  padding: 20px;
  background: $table_gray;

  .ant-divider-horizontal {
    border-width: 2px;
  }

  .main-section-container {
    @include flex(column, flex-start, flex-start);
    width: 100%;

    .images-container {
      @include flex(row, flex-start, flex-start);
      width: 100%;
      flex-wrap: wrap;

      .img-item {
        @include flex(column, flex-start, space-between);
        width: 25%;
        margin-bottom: 20px;

        .white-button {
          width: 115px;
          margin-top: 20px;
        }

        .shared-date-picker-container {
          width: 55%;
          margin-bottom: 0;
          margin-top: 20px;

          @include responsive(tablet) {
            width: 70%;
          }
        }

        .img-button-row {
          @include flex(row, flex-end, space-between);

          @include responsive(tablet) {
            @include flex(column, flex-start, flex-start);

            button {
              margin-top: 5px;
            }
          }

          .default-ava-container {
            margin-right: 10px;
          }
        }
      }
    }
  }
}