@import '@/assets/scss';

.shared-dropdown-container {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  margin-bottom: 0;

  &.required{
    .ant-form-item-label>label {
      font-size: 12px;
  
      &::after {
        content: '*';
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .ant-form-item-label {
    vertical-align: text-top;

    > label {
      font-size: 12px;
      
      &::after {
        content: '';
      }
    }
  }

  .ant-form-item-control {
    width: 100%;
  }

  .dropdown-button {
    @include flex(row, center, space-between);
    width: 100%;
    border-radius: 4px;
    padding: 1px 6px;

    &:hover {
      border: solid 1px $light_gray;
      color: $black;
    }

    &:focus {
      background: $primary_yellow;
      border: solid 1px $primary_yellow;
      color: $black;
    }

    span {
      font-size: 11px;
    }
  }
}
