@import '@/assets/scss';

.list-view-container {
  width: 96%;

  .ant-table-thead {
    background: $table_gray;

    .ant-table-cell {
      background: none;
      vertical-align: top;
      text-align: center;

      .ant-table-column-sorters {
        .ant-table-column-sorter-inner {
          .ant-table-column-sorter-up.active,
          .ant-table-column-sorter-down.active {
            color: $icon_gray;
          }
        }
      }
    }

    > tr > th {
      padding: 10px 5px;
      font-size: 12px;

      @include responsive(tablet) {
        font-size: 10px;
      }
    }
  }

  .ant-table-tbody {
    tr:nth-child(even) {
      background: $table_gray;

      &:hover {
        .ant-table-cell {
          background: none;
        }
      }
    }

    tr:nth-child(odd) {
      .ant-table-cell {
        .anticon.anticon-eye {
          @include flex(row, center, center);
          width: 25px;
          height: 25px;
          background: $primary_yellow;
          border-radius: 50%;
        }
      }
    }

    .ant-table-cell {
      background: none;
      text-align: center;

      span.dropdown-title {
        display: none;
      }
    }
  }

  .ant-table-tbody > tr > td {
    position: unset;

    @include responsive(tablet) {
      font-size: 10px;
    }
  }

  .ant-pagination {
    margin-top: 1rem;
    @include flex(row, center, flex-end);
  }
}
