@import '@/assets/scss';

.textarea-container {
    @include flex(column, flex-start, flex-start);
    margin-bottom: 0;
    width: 100%;

    .ant-form-item-control {
        width: 100%;

        .ant-form-item-control-input {
            height: 100%;

            .ant-form-item-control-input-content {
                height: 100%;

                textarea {
                    height: 100%;
                    border-radius: 6px;

                    &:focus {
                        box-shadow: none;
                        border: solid 1px $light_gray;
                    }

                    &:hover {
                        border: solid 1px $light_gray;
                    }
                }
            }
        }
    }
}