@import '@/assets/scss';

.ant-modal {
  margin: 40px 0;

  .ant-modal-body {
    padding: 0;

    .modal-info-detail-container {
      @include flex(column, flex-start, flex-start);
      background: $table_gray;
      padding: 15px;

      .experience-container {
        .cv-upload-header {
          .view {
            .plus-icon {
              display: none;
            }
          }
        }
      }

      .personal-info-container {
        @include flex(row, flex-end, space-between);
        width: 100%;

        .primary-input-container {
          width: 18%;
        }

        .shared-dropdown-container {
          width: 18%;
        }
      }

      .roles-container {
        @include flex(row, flex-start, space-between);
        margin-top: 20px;

        .ant-checkbox-group {
          width: 93%;

          span {
            font-size: 12px;
          }
        }
      }

      .modal-info-container {
        padding: 0;
      }

      .modal-footer {
        @include flex(row, stretch, space-between);

        .footer-item {
          width: 49%;

          p {
            font-size: 12px;
          }

          .textarea-container {
            height: 100%;

            .ant-form-item-label>label {
              font-size: 11px;

              &::after {
                content: '';
              }
            }
          }

          .button-container {
            @include flex(row, center, flex-end);
            width: 100%;

            button {
              width: 22%;
            }
          }
        }
      }
    }
  }

  .ant-modal-footer {
    padding: 0;
  }
}