@import '@/assets/scss';

.header-container {
  @include flex(row, center, space-evenly);
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  background: $white;

  a {
    margin: 15px 0;
    width: 5%;

    .header-logo {
      width: 100%;
    }
  }

  .menu-container {
    @include flex(row, center, flex-end);
    border-bottom: none;
    line-height: none;
    width: 83%;
    padding: 20px 0;

    @include responsive(large_desktop) {
      padding: 32px 0;
    }

    @include responsive(tablet) {
      justify-content: flex-start;
    }

    .ant-menu-submenu {
      &::after {
        border-bottom: none;
      }

      >.ant-menu-submenu-open::after {
        border-bottom: none;
      }

      .avatar-container {
        border: solid 1px $light_gray;
        border-radius: 50%;

        .default-avatar {
          @include responsive(tablet) {
            width: 50px;
            height: 50px;
          }

          @include responsive (large_desktop) {
            height: 150px;
            width: 150px;
          }
        }
      }
    }

    .ant-menu-item-selected {
      color: $black;

      &::after {
        border-bottom: none;

        @include responsive(tablet) {
          right: 10px;
          left: 10px;
        }
      }
    }

    .ant-menu-item {
      @include flex(row, flex-start, center);
      font-weight: 500;
      font-size: 1rem;
      color: $black;

      @include responsive (tablet) {
        padding: 0 10px;
      }

      &:hover {
        >.ant-menu-submenu {
          border-bottom: none;
        }
      }

      &::after {
        border-bottom: none;
      }

      &.active {
        text-decoration: underline;
        text-decoration-color: $primary_yellow;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
        color: $black;
      }

      &:hover {
        color: $black;

        &::after {
          border-bottom: none;

          @include responsive(tablet) {
            right: 10px;
            left: 10px;
          }
        }
      }

      a {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        text-transform: capitalize;
        margin: 0;

        @include responsive(tablet) {
          font-size: 0.75rem;
        }

        &.active {
          text-decoration: underline;
          text-decoration-color: $primary_yellow;
          text-decoration-style: solid;
          text-decoration-thickness: 2px;
          text-underline-offset: 5px;
          color: $black;
        }

        &:hover {
          color: $black;
        }

        &::before {
          display: none;
        }
      }

      span {
        line-height: 35px;
      }

      .ant-collapse-ghost {
        position: relative;

        .ant-collapse-header {
          font-size: 1rem;
          font-weight: 500;
          padding: 0;

          @include responsive(tablet) {
            font-size: 0.75rem;
          }
        }

        .ant-collapse-content {
          position: absolute;

          .ant-collapse-content-box {
            @include flex(column, flex-start, flex-start);
            padding: 0;

            a {
              font-size: 1rem;
              font-weight: 500;
              color: $black;
              text-transform: capitalize;

              @include responsive(tablet) {
                font-size: 0.75rem;
              }

              &:hover {
                color: $black;
              }

              &:focus {
                text-decoration: underline;
                text-decoration-color: $primary_yellow;
                text-decoration-style: solid;
                text-decoration-thickness: 2px;
                text-underline-offset: 5px;
                color: $black;
              }

              &::before {
                display: none;
              }
            }
          }
        }
      }

    }
  }
}

.dropdown-container {
  background: transparent;
  position: fixed;

  .ant-menu-vertical {
    border-radius: 10px;
    padding: 0 20px;

    .submenu-item-container {
      background: $white;
      border-radius: 10px;

      &:hover>.ant-menu-item {
        color: $black;
      }

      .ant-menu-item-selected {
        background: $white;
      }

      .ant-menu-item-active {
        color: $black;

        >.ant-menu-item {
          color: $black;
        }
      }

      .ant-menu-item {
        margin-bottom: 0;

        &:hover {
          color: $black;
        }

        &:focus {
          color: $black;
        }
      }

      .submenu-item {
        text-align: center;
        border-radius: 10px;
        margin: 10px;
      }

      .ant-menu-vertical {
        .ant-menu-item {
          margin: 0
        }
      }
    }
  }
}

.ant-menu-submenu:hover::after,
.ant-menu-submenu-active::after {
  border-bottom: none !important;
}