@import '@/assets/scss';

.login-page {
  @include flex(column, center, center);
  min-height: 100vh;
  background: $white;

  @include responsive(tablet) {
    min-height: 80vh;
  }

  .gig-logo {
    $height: 130px;
    $ratio: 194/176;
    height: $height;
    width: $ratio * $height;
    margin-top: 20px;
  }

  .admin-logo {
    $height: 25px;
    $ratio: 124/45;
    width: $ratio * $height;
    height: $height;
    margin: 15px 0;
  }

  .form {
    @include flex(column, center, flex-start);
    width: 40%;
    background: $light_yellow;
    border-radius: 21.68px;
    border: 0.05px solid $light_yellow;
    box-shadow: 0px 14px 72px 0px rgba(0, 0, 0, 0.19);

    @include responsive(tablet) {
      width: 60%;
    }

    .error-msg {
      margin: 10px 0;
      color: $red;
    }

    .input-container {
      @include flex(column, center, center);
      width: 100%;
      border-radius: 21.68px;
      background: $white;
      padding-top: 20px;

      .primary-input-container {
        align-items: center;
        width: 65%;
        margin-bottom: 10px;

        input {
          text-align: center;
        }

        .ant-form-item-label {
          label {
            font-size: 16px;
          }
        }
      }

      .ant-form-item-with-help {
        margin-bottom: 24px;
      }

      .black-button {
        width: 35%;
      }

      .forgot-password {
        color: $black;
        text-decoration: underline;
        margin-top: 18.58px;
        margin-bottom: 18px;
      }
    }

    .remember-me {
      margin: 10px 0;
      font-size: 16px;

      .ant-checkbox-inner {
        border-radius: 4px;
      }
    }
  }

  .login-text-container {
    margin-top: 20px;

    p {
      text-align: center;
      font-size: 13px;
      margin-bottom: 0.3em;

      &.text-divider {
        margin-top: 1em;
      }
    }
  }
}