@import '@/assets/scss';

.recruitment-container {
  background: $background_gray;
  @include flex(column, center, center);
  width: 100%;

  .breadcrumb-wrap {
    @include flex(row, center, flex-start);
    width: 98%;

    span {
      text-transform: capitalize;
    }
  }
}