@import '@/assets/scss';

.panel-body {
    @include flex(row, stretch, space-between);
    width: 100%;
    height: 100%;

    .sub-body {
        width: 47%;

        .sub-body-row {
            @include flex(row, flex-start, space-between);

            .sub-body-item {
                width: 48%;

                .criminal-conviction {
                    &::after {
                        content: '*';
                        font-weight: 700;
                        font-size: 16px;
                    }
                }

                .checkbox-conviction {
                    @include flex(row, center, space-between);

                    p {
                        font-size: 12px;
                    }

                    .radio-checkbox-container {
                        width: 40%;
                    }
                }

                .profile-picture-container {
                    @include flex(column, flex-start, flex-start);

                    .white-button {
                        @include flex(row, center, flex-start);
                        border: none;
                        padding: 0;
                        margin-top: 10px;
                    }

                }

                .languages-container {
                    @include flex(row, flex-start, space-between);
                    width: 100%;

                    .ant-tag {
                        border-radius: 4px;
                        background: $primary_yellow;
                        color: $black;
                    }
                }

                .yellow-button {
                    @include flex(row, center, space-evenly);
                    width: 90%;

                    .plus-icon {
                        font-size: 18px;
                        font-weight: 600;
                        margin-right: 15px;
                    }

                    span {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}