@import '@/assets/scss';

.modal-info-container {
  @include flex(row, stretch, space-between);
  background: $table_gray;
  padding: 0 15px;
  width: 100%;

  p {
    text-align: start;
  }

  .experience-container {
    width: 49%;
    padding-top: 20px;

    .experience-detail {
      @include flex(column, center, flex-start);
      background: $white;
      padding: 20px 0;
      border-radius: 4px;
      margin-bottom: 15px;
      height: 93%;

      .employment-history-title {
        width: 94%;
        text-align: start;
      }

      .experience-history-container {
        @include flex(column, center, space-between);
        position: relative;
        width: 94%;
        height: 45%;

        .close-icon {
          position: absolute;
          right: 0;
          top: -15px;
          font-size: 25px;
          font-weight: 600;
        }

        .experience-input-container {
          @include flex(row, flex-start, space-between);
          width: 100%;

          .history-info-select {
            @include flex(column, flex-start, space-between);
            width: 46%;
            height: 130px;
          }
        }

        .textarea-container {
          height: 90%;
        }
      }
    }

    .cv-upload-header {
      @include flex(row, flex-start, space-between);

      .view {
        @include responsive(tablet) {
          width: 35%;
        }

        .plus-icon {
          font-size: 22px;
          font-weight: 600;
          margin-right: 20px;
        }
      }
    }

    .pdf-file-container {
      @include flex(row, center, center);
      width: 100%;
      height: 717px;
      background: $white;
      border-radius: 4px;
      margin-bottom: 20px;

      p {
        width: 60%;
        color: $red;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}