@import '@/assets/scss';

.status-modal-container {
  @include flex(row, center, center);

  .ant-modal-content {
    @include flex(column, center, center);
    padding: 20px;
    border-radius: 18px;

    .ant-modal-body {
      @include flex(column, center, center);
      margin-bottom: 20px;

      .warning-icon {
        margin-bottom: 15px;
      }

      h1 {
        text-align: center;
      }

      p {
        text-align: center;
        margin: 0;
      }
    }

    .ant-modal-footer {
      @include flex(row, center, space-between);
      width: 50%;
    }
  }
}
