@import '@/assets/scss';

.radio-checkbox-container {
  text-align: start;
  width: 100%;
  margin-bottom: 10px;

  .ant-radio-wrapper {
    .ant-radio {
      &:hover > .ant-radio-inner {
        border: solid 1px $table_gray;
      }

      .ant-radio-input{
        width: 16px;
        height: 16px;
      }

      .ant-radio-inner {
        border-radius: 6px;
      }

      &.ant-radio-checked {

        &::after {
            background: none;
            border: none;
            border-radius: none;
            animation-fill-mode: none;
            animation: none;
          }

        .ant-radio-inner {
          border-radius: 6px;
          background: $primary_yellow;
          border: solid 1px $table_gray;

          &::after {
            background: none;
          }
        }

        .ant-radio-input:focus + .ant-radio-inner {
          box-shadow: none;
          border: none;
        }
      }
    }
  }
}
