@import '@/assets/scss';

.default-ava-container {
    @include flex(row, center, center);
    width: 190px;
    height: 190px;
    border-radius: 6px;
    background: $white;
    background-size: cover;
    border: solid 1.5px $light_gray;

    @include responsive(tablet){
        width: 150px;
        height: 150px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}